body {
  color: white;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid hsl(207, 100%, 50%);
}

.center {
  text-align: center;
}

a {
  color: black;
  justify-content: left;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

h3 {
  color: bisque;
}

h2 {
  color: aqua;
}

h1 {
  color: brown;
}

